{% extends 'base.html.twig' %}

{% form_theme form_article 'bootstrap_4_layout.html.twig' %}

{% block body %}
    {% if app.user %}
    <h2> créer un article </h2>

    {{ form_start(form_article) }}
    {{ form_widget(form_article) }}
    
    {% if edit %}
        <button type="submit" class="btn btn-success">Modifier l'article</button>
    {% else %}
        <button type="submit" class="btn btn-success">Ajouter l'article</button>
    {% endif %}
    {{ form_end(form_article) }}
    {% else %}
    <h2> vous ne pouvez pas créer d'article temps que vous etes pas connecter <h2>
    {% endif %}

{% endblock %}
