{% extends 'base.html.twig' %}

{% block title %}Hello BlogController!{% endblock %}

{% block body %}
<section class="articles">

    {% for article in articles %}
    <article>
    <h2>{{ article.title }}<h2>
    <div class="metadata">
    Ecrit le {{ article.date | date('d/m/Y') }} dans la catégorie {{ article.categorie }}
    </div>
    <div class="content">
    <a href="{{ path('blog_show',{'id': article.id}) }}" class="btn-primary btn">lire la suite<a>
    <div>
    <div class="content">
    <a href="{{ path('liste_article_user_publier',{'id': article.user.id}) }}" class="btn-primary btn">Voir la liste des articles publier par {{ article.user.username }}<a>
    <div>
    </article>
    {% endfor %}


    

<section>
{% endblock %}
