{% extends 'base.html.twig' %}


{% block body %}
<section class="articles">
    <h2>Article publier par {{ articles[0].user.username }} :<h2>
    {% for article in articles %}
    <article>
    <h2>{{ article.title }}<h2>
    <div class="metadata">
    Ecrit le {{ article.date | date('d/m/Y') }} dans la catégorie {{ article.categorie }}
    </div>
    <div class="content">
    <a href="{{ path('blog_show',{'id': article.id}) }}" class="btn-primary btn">lire la suite<a>
    <div>
    </article>
    {% endfor %}

<section>
{% endblock %}