
{% extends 'base.html.twig' %}


{% block body %}
<section class="articles">
    {% if app.user %}
     {% if admin == user.email %}   
        {% if articles_publier != NULL and articles_nonpublier != NULL  %}
        <br>
        <h2 style="color:red">article publier :<h2>
        <br>
            {% for article in articles_publier %}
                <article>
                <h2>{{ article.title }}<h2>
                <div class="metadata">
                <p>Ecrit le {{ article.date | date('d/m/Y') }} dans la catégorie {{ article.categorie }}<p>
                {% if article.publier == 1 %}
                <p>publier<p>
                {% else %}
                <p>non-publier<p>
                {% endif %}
                </div>
               <div class="content">
                    <a href="{{ path('blog_show',{'id': article.id}) }}" class="btn-primary btn">lire la suite<a>
                    <div>
                    <div class="content">
                    <a href="{{ path('blog_edit',{'id': article.id}) }}" class="btn-primary btn">modifier<a>
                    <div>
                    <div class="content">
                    <a href="{{ path('blog_delete_admin',{'id': article.id}) }}" class="btn-primary btn">supprimer<a>
                    <div>
                    </article>
                </article>
            {% endfor %}
            <br>
            <h2 style="color:red">article non publier :<h2>
            <br>
             {% for article in articles_nonpublier %}
                <article>
                <h2>{{ article.title }}<h2>
                <div class="metadata">
                <p>Ecrit le {{ article.date | date('d/m/Y') }} dans la catégorie {{ article.categorie }}<p>
                {% if article.publier == 1 %}
                <p>publier<p>
                {% else %}
                <p>non-publier<p>
                {% endif %}
                </div>
                <div class="content">
                    <a href="{{ path('blog_show',{'id': article.id}) }}" class="btn-primary btn">lire la suite<a>
                    <div>
                    <div class="content">
                    <a href="{{ path('blog_edit',{'id': article.id}) }}" class="btn-primary btn">modifier<a>
                    <div>
                    <div class="content">
                    <a href="{{ path('blog_delete_admin',{'id': article.id}) }}" class="btn-primary btn">supprimer<a>
                    <div>
                </article>
            {% endfor %}
        {% else %}
         <h2> Vous n'avez créer aucun article </h2>
        {% endif %}
        {% else %}
    <h2> Vous ne pouver pas gérer les article si vous etes pas admin </h2>
    {% endif %}
    {% else %}
    <h2> Vous ne pouvez pas modidier les articles si vous etes pas connecter </h2>
    {% endif %}
<section>
{% endblock %}
