{% extends 'base.html.twig' %}

{% block title %}Hello BlogController!{% endblock %}

{% block body %}
<section class="articles">
    {% if admin == user.email %}
    {% for article in articles %}
    <article>
    <h2>{{ article.title }}<h2>
    <div class="metadata">
    Ecrit le {{ article.date | date('d/m/Y') }} dans la catégorie {{ article.categorie }} par {{ article.user.username }}
    </div>
    <div class="content">
    <a href="{{ path('blog_show',{'id': article.id}) }}" class="btn-primary btn">lire la suite<a>
    <div>
    <div class="content">
    <a href="{{ path('blog_edit',{'id': article.id}) }}" class="btn-primary btn">modifier<a>
    <div>
    <div class="content">
    <a href="{{ path('blog_delete_admin',{'id': article.id}) }}" class="btn-primary btn">supprimer<a>
    <div>
    <div class="content">
    <a href="{{ path('blog_manage_admin_liste_article_user',{'id': article.user.id}) }}" class="btn-primary btn">Voir la liste des articles publier par {{ article.user.username }}<a>
    <div>
    </article>
    {% endfor %}
    {% else %}
    <h2> Vous ne pouver pas gérer les article si vous etes pas admin </h2>
    {% endif %}


    

<section>
{% endblock %}