{% extends 'base.html.twig' %}

{% block body %}

     <article>
    <h2>{{ articles.title }}<h2>
    <div class="metadata">
    Ecrit le {{ articles.date | date('d/m/Y') }} dans la catégorie {{ articles.categorie }}
    </div>
    <div class="content">
    <br>
    <iframe width="420" height="315"
        src={{ articles.url }}>
    </iframe>
    <div>
    </article>

{% endblock %}