{% extends 'base.html.twig' %}

{% block body %}
<h2> Connexion </h2>
<form action="{{ path('user_login') }}" method="post">
		<div class="form-group">
            <label>Email</label>
			<input required name="_username" type="text" class="form-control">
		</div>
		<div class="form-group">
            <label>Password</label>
			<input required name="_password" type="password" class="form-control">
		</div>
		<div class="form-group">
			<button type="submit" class="btn btn-success">Connexion</buttton>
		</div>
	</form>

{% endblock %}