{% extends 'base.html.twig' %}

{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block body %}
    <h2> Inscription </h2>

    {{ form_start(form) }}
    {{ form_widget(form) }}
        <button type="submit" class="btn btn-success">Enregistrer</button>
    {{ form_end(form) }}

{% endblock %}