<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="stylesheet" href="https://bootswatch.com/4/solar/bootstrap.min.css">
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="{{ path('home') }}">MonBlog</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarColor02">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item ">
                        <a class="nav-link" href="{{ path('blog') }}">Articles <span class="sr-only">(current)</span></a>
                    </li>
                    {% if not app.user %}
                        <li class="nav-item">
                            <a href="{{ path('user_login') }}" class="nav-link">
                                Connexion
                            </a>
                        </li>
                         <li class="nav-item">
                            <a href="{{ path('user_inscription') }}" class="nav-link">
                                Inscription
                            </a>
                         </li>
                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('blog_create') }}">Créer un article</a>
                        </li>
                        <li class="nav-item">
                            <a href="{{ path('user_logout') }}" class="nav-link">
                                Deconnexion
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{{ path('manage') }}" class="nav-link">
                                Gérer les articles
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{{ path('my_article_manage') }}" class="nav-link">
                                Gérer mes articles
                            </a>
                        </li>
	                {% endif %}
                    
                </ul>
            </div>
        </nav>
        <div class="container">
            {% block body %}{% endblock %}
        </div>
        {% block javascripts %}{% endblock %}
    </body>
</html>
